#{extends 'main.html' /}
#{set title:'Milestones List' /}

<div class="container-fluid">
 <div class="sidebar">
   <div class="well">
     <h5>Options</h5>
     <ul>
       <li><a href="#">My Projects</a></li>
       <li><a href="#">My Open Tasks</a></li>
       <li><a href="#">Milestones</a></li>
       <li><a href="#">Reports</a></li>
     </ul>
   </div>
 </div>
 <div class="content">
   <!-- Example row of columns -->
    <div class="row">
      <div class="span16">
        <h2>Milestones List</h2>
        <table class="bordered-table zebra-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Due Date</th>
                <th>Owner</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
                #{list items:entities, as:'entity'}
                    <tr>
                        <td>${entity.Name}</td>
                        <td>${entity.Description}</td>
                        <td>${entity.DueDate}</td>
                        <td>${entity.Owner.fullName}</td>
                        <td>
                            <a href="@{Milestones.show(entity.id)}" class="btn">Show</a>
                            <a href="@{Milestones.edit(entity.id)}" class="btn">Edit</a>
                            #{if entity.isOpen}
                                <a href="#" class="btn info"  onclick="if (!confirm('Are you sure you want to close this record?')) return false;">Close</a>
                            #{/if}
                            #{else}
                                <a href="#" class="btn info"  onclick="if (!confirm('Are you sure you want to open this record?')) return false;">Open</a>
                            #{/else}
                            <a href="@{Milestones.delete(entity.id)}" class="btn danger"  onclick="if (!confirm('Are you sure you want to delete this record?')) return false;">Delete</a>
                        </td>
                    </tr>
                #{/list}
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>