<div class="row">
  <div class="span8">
        <div class="clearfix">
            #{ifErrors}
                <p class="alert-message error">
                    Please correct these errors.
                </p>
            #{/ifErrors}
        </div>
        <input type="hidden" name="entity.Task.id" value="${entity?.id}" />
        <div class="clearfix">
            #{field 'entity.comment'}
            <label for="${field.name}">Comment</label>
            <div class="input">
              <textarea class="input-xlarge" name="${field.name}" type="text" rows="4" cols="300"></textarea>
              <span class="help-inline error">#{error 'entity.comment' /}</span>
            </div>
            #{/field}
        </div>
  </div>
</div>
<script type="text/javascript">

</script>