#{extends 'main.html' /}
<h2>Edit Comment</h2>

<div class="container-fluid">
    <div class="sidebar">
      <div class="well">
        <h5>Options</h5>
        <ul>
          <li><a href="#">My Projects</a></li>
          <li><a href="#">My Open Tasks</a></li>
          <li><a href="#">Milestones</a></li>
          <li><a href="#">Reports</a></li>
        </ul>
      </div>
    </div>
    <div class="content">
        <div class="well">
            <h1>Update Project</h1>
        </div>
        <!-- columns -->
        #{form @Comments.update(), id:'createForm'}
			#{include 'Comments/_form.html' /}
			<input type="submit" name="submit" value="Save" />
		#{/form}
		<a href="@{Comments.index}">Cancel</a>
    </div>
</div>

