#{extends 'main.html' /}
<h2>View Comment</h2>
<div class="entity">
	<div class="row">
		<span class="elem">
			comment:
		</span>
		<span class="value">
      ${entity.comment}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			createdBy:
		</span>
		<span class="value">
      ${entity.createdBy}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			created:
		</span>
		<span class="value">
      ${entity.created}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			id:
		</span>
		<span class="value">
      ${entity.id}
		</span>
	</div>
</div>
<a href="@{Comments.index}">Back</a>

