<html>
	<head>
	</head>
	<style type="text/css">
		body {
		  background-color: #ffffff;
		  margin: 0;
		  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		  font-size: 13px;
		  font-weight: normal;
		  line-height: 18px;
		  color: #404040;
		}
		div {
			display: block;
			}
		p {
		  font-size: 13px;
		  font-weight: normal;
		  line-height: 18px;
		  margin-bottom: 9px;
		}
		p small {
		  font-size: 11px;
		  color: #bfbfbf;
		}
	</style>
	<body>
		<div class="hero-unit" style="background-color: #F5F5F5; margin-bottom: 30px; padding: 60px; border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px;">
			#{doLayout /}
		</div>
	</body>
</html>