#{extends 'Mails/layout.html' /}
			<h1>New Comment on Task: " ${comment.Task.Name} "</h1>
			<p>
			    <blockquote>
			    	${comment.comment}
			    </blockquote>
			</p>
			<p>
				<ul>
					<li>Author: ${comment.createdBy.fullName}</li>
					<li>Project: ${comment.Task.Milestone.Project.Name}</li>
					<li>Milestone: ${comment.Task.Milestone.Name}</li>
					<li>Created: ${comment.created.format('yyyy-MM-dd')}</li>
					<li>Task Open: ${task.isOpen}</li>
				</ul>
			</p>
			<p>
				To login click <a href="@@{Application.index()}">this link</a>
			</p>