<div class="row">
          <div class="span16">
            <h2>User Information</h2>
                <div class="clearfix">
                    #{ifErrors}
				        <p class="alert-message error">
				            Please correct these errors.
				        </p>
				    #{/ifErrors}
                </div>
                <div class="clearfix">
                    #{field 'entity.userName'}
                    <label for="${field.name}">E-Mail</label>
                    <div class="input">
                      <input class="input-large" id="userName" name="${field.name}" value="${entity?.userName}" type="text"> 
                      <span class="help-inline error">#{error 'entity.userName' /}</span>
                    </div>
                    #{/field}
                </div>
                <div class="clearfix">
                    #{field 'entity.fullName'}
                    <label for="${field.name}">Full Name</label>
                    <div class="input">
                      <input class="input-large" id="fullname" name="${field.name}" value="${entity?.fullName}" type="text">
                      <span class="help-inline error">#{error 'entity.fullName' /}</span>
                    </div>
                    #{/field}
                </div>
                <div class="clearfix">
                    #{field 'entity.password'}
                    <label for="${field.name}">Password</label>
                    <div class="input">
                        <input class="input-large" id="password" name="${field.name}" type="password">
                        <span class="help-inline error">#{error 'entity.password' /}</span>
                    </div>
                    #{/field}
                </div>
                <div class="clearfix">
                    <label for="repassword">Re-Password</label>
                    <div class="input">
                      <input class="input-large" id="repassword" name="repassword" type="password">
                      <span class="help-inline error">#{error 'repassword' /}</span>
                    </div>
                </div>
                <div class="clearfix">
                    #{field 'entity.isAdmin'}
                    <label for="${field.name}">Is Admin?</label>
                    <div class="input">
                      <input type="checkbox" name="${field.name}" id="isAdmin" value="true" ${entity?.isAdmin ? 'checked' : ''} />
                    </div>
                    #{/field}
                </div>
                <div class="actions">
                    <input type="submit" class="btn primary" value="Save User">
                    &nbsp;
                    <a href="@{Users.index()}" class="btn">Cancel</a>
                </div>
          </div>
        </div>