#{extends 'main.html' /}
#{set title:'Users List' /}

<div class="container-fluid">
 <div class="sidebar">
   <div class="well">
     <h5>Options</h5>
     <ul>
       <li><a href="#">My Projects</a></li>
       <li><a href="#">My Open Tasks</a></li>
       <li><a href="#">Milestones</a></li>
       <li><a href="#">Reports</a></li>
     </ul>
   </div>
 </div>
 <div class="content">
   <!-- Example row of columns -->
    <div class="row">
      <div class="span16">
        <h2>Users List</h2>
        <p class="pull-right">
            <a href="@{Users.create()}" class="btn primary">Add User</a>
        </p>
        <table class="bordered-table zebra-striped">
            <thead>
              <tr>
                <th>Username</th>
                <th>Full Name</th>
                <th>E-Mail</th>
                <th>Rol</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
                #{list items:entities, as:'entity'}
                    <tr>
	                    <td>${entity.userName}</td>
	                    <td>${entity.fullName}</td>
	                    <td>${entity.userName}</td>
	                    <td>
	                       #{if entity.isAdmin}
	                           <span class="label success">Admin</span>
	                       #{/if}
	                       #{else}
                               <span class="label">User</span>
                           #{/else}
	                    </td>
	                    <td>
	                        <a href="@{Users.show(entity.id)}" class="btn">Show</a>
	                        <a href="@{Users.edit(entity.id)}" class="btn">Edit</a>
	                        <a href="#" class="btn info"  onclick="if (!confirm('Are you sure you want to deactivate this record?')) return false;">Deactivate</a>
	                        <a href="@{Users.delete(entity.id)}" class="btn danger"  onclick="if (!confirm('Are you sure you want to delete this record?')) return false;">Delete</a>
	                    </td>
                    </tr>
                #{/list}
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>