#{extends 'main.html' /}
#{set title:'Project Add' /}

<div class="container-fluid">
    <div class="sidebar">
      <div class="well">
        <h5>Options</h5>
        <ul>
          <li><a href="#">My Projects</a></li>
          <li><a href="#">My Open Tasks</a></li>
          <li><a href="#">Milestones</a></li>
          <li><a href="#">Reports</a></li>
        </ul>
      </div>
    </div>
    <div class="content">
        <div class="well">
            <h1>New Project</h1>
        </div>
        <!-- columns -->
        #{form @Projects.save(), id:'createForm'}
            #{include 'Projects/_form.html' /}
        #{/form}
    </div>
</div>