#{extends 'main.html' /}
#{set title:'Open Projects List' /}

<div class="container-fluid">
 <div class="sidebar">
   <div class="well">
     <h5>Options</h5>
     <ul>
       <li><a href="#">My Projects</a></li>
       <li><a href="#">My Open Tasks</a></li>
       <li><a href="#">Milestones</a></li>
       <li><a href="#">Reports</a></li>
     </ul>
   </div>
 </div>
 <div class="content">
   <!-- Example row of columns -->
    <div class="row">
      <div class="span16">
        <h2>Projects List</h2>
        <div class="row">
            #{form @Projects.index(), id:'filter'}
            <div class="clearfix">
                <label for="statusFilter">Status Filter:</label>
                <div class="input">
                  <select class="input-medium" name="statusFilter">
                  	<option value="true" #{if statusFilter == "true"}SELECTED#{/if}>Open</option>
                  	<option value="false" #{if statusFilter == "false"}SELECTED#{/if}>Closed</option>
                  	<option value="all" #{if statusFilter == "all"}SELECTED#{/if}>All</option>
                  </select>
                  <input type="submit" class="btn" value="Search" />
                </div>
            </div>
            #{/form}
        </div>
        <p class="pull-right">
            <a href="@{Projects.create()}" class="btn primary">Add Project</a>
        </p>
        <table class="bordered-table zebra-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Due Date</th>
                <th>Owner</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
                #{list items:entities, as:'entity'}
                    <tr>
                        <td><a href="@{Projects.show(entity.id)}">${entity.Name}</a></td>
                        <td>${entity.Description}</td>
                        <td>${entity.DueDate.format('yyyy-MM-dd')}</td>
                        <td>${entity.Owner.fullName}</td>
                        <td>
                           #{if entity.isOpen}
                               <span class="label success">Open</span>
                           #{/if}
                           #{else}
                               <span class="label error">Closed</span>
                           #{/else}
                        </td>
                        <td>
                            <!-- <a href="@{Projects.show(entity.id)}" class="btn">Show</a> -->
                            <a href="@{Projects.edit(entity.id)}" class="btn">Edit</a>
                            #{if entity.isOpen}
                            	<a href="@{Projects.close(entity.id)}" class="btn info"  onclick="if (!confirm('Are you sure you want to close this project?')) return false;">Close</a>
                            #{/if}
                            #{else}
                            	<a href="@{Projects.open(entity.id)}" class="btn info"  onclick="if (!confirm('Are you sure you want to open this project?')) return false;">Open</a>
                            #{/else}
                            <a href="@{Projects.delete(entity.id)}" class="btn danger"  onclick="if (!confirm('Are you sure you want to delete this record?')) return false;">Delete</a>
                        </td>
                    </tr>
                #{/list}
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>