<div class="row">
  <div class="span8">
        <div class="clearfix">
            #{ifErrors}
                <p class="alert-message error">
                    Please correct these errors.
                </p>
            #{/ifErrors}
        </div>
        #{if entity.getClass().getName() == "models.Task"}
        	<input type="hidden" name="entity.Task.id" value="${entity?.id}" />
        #{/if}
        #{else}
        	<input type="hidden" name="entity.Issue.id" value="${entity?.id}" />
        #{/else}
        <div class="clearfix">
        	#{field 'entity.time'}
        		<label for="${field.time}">Time</label>
        		<div class="input">
        			<input id="txtManuallyTimeHours" type="text" class="small" />
        			Hrs.
        			<input id="txtManuallyTimeMinutes" type="hidden" name="entity.time">
        		</div>
        	#{/field}
        </div>
        <div class="clearfix">
            #{field 'entity.comment'}
            <label for="${field.comment}">Comment</label>
            <div class="input">
              <textarea class="input-xlarge required" name="${field.name}" type="text"></textarea>
              <span class="help-inline error">#{error 'entity.comment' /}</span>
            </div>
            #{/field}
        </div>
  </div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('#txtManuallyTimeHours').keyup(function() {
			$('#txtManuallyTimeMinutes').val(Math.round($('#txtManuallyTimeHours').val() * 60));
		});
	});
</script>